# ignored by git
.vscode/
*.pyc
*.log
*.png
__pycache__/
*.egg-info/
dist/
build/
*.sublime-project
*.sublime-workspace
.env
.env.local
.env.dev
.env.test
.idea/
.tox/
node_modules/
.DS_Store
venv/

# common VCS dirs
.git/
.svn/
.hg/
.bzr/
